<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= link_to "New book hehehehe", new_book_path %>

<div id="books" style="display: flex; flex-wrap: wrap; gap: 50px;">
  <% @books.each do |book| %>
    <div>
      <%= render book %>
      <p>
        <%= link_to "Show", book_path(book) %> |
        <%= link_to "Edit", edit_book_path(book) %> |
        <%= link_to "Delete", delete_book_path(book) %>
      </p>
    </div>
  <% end %>
</div>
